<div class="row animated fadeIn fast pt-md-4">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h3>
          <span *ngIf="nuevo">Agregar</span>
          <span *ngIf="!nuevo">Editar</span>
            usuario
        </h3>
        <hr>
        <form (ngSubmit)="guardarCambios()" #forma="ngForm">
          <!-- Nuevo usuario -->
          <div *ngIf="nuevo">
            <div class="form-group">
              <label for="first_name">Nombre</label>
              <input [(ngModel)]="user.name" name="name" class="form-group" type="text" class="form-control"
                placeholder="Introduzca aquí el nombre" required>
            </div>

            <div class="form-group">
              <label for="job">Ocupación</label>
              <input [(ngModel)]="user.job" name="job" type="text" class="form-control" placeholder="Introduzca aquí la ocupación"
                required>
            </div>
          </div>

          <!-- Editar usuario -->
          <div *ngIf="!nuevo">
            <div class="form-group">
              <label for="first_name">Nombre</label>
              <input [(ngModel)]="users.first_name" name="first_name" class="form-group" type="text" class="form-control"
                required>
            </div>

            <div class="form-group">
              <label for="last_name">Apellido</label>
              <input [(ngModel)]="users.last_name" name="last_name" class="form-group" type="text" class="form-control"
                required>
            </div>

            <div class="form-group">
              <label for="avatar">Avatar</label>
              <input [(ngModel)]="users.avatar" name="avatar" class="form-group" type="text" class="form-control"
                required>
            </div>
          </div>

          <div class="form-group">
            <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary float-right">
              Guardar <span *ngIf="nuevo">usuario</span><span *ngIf="!nuevo">cambios</span>
            </button>
          </div>
          <div class="form-group">
            <button [routerLink]="['/users']" class="btn btn-outline-danger" type="button" name="button">
              Volver
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>